{:company/legal-name "Interactive Brokers Group, Inc."
 :company/lei "5493004DT6DCDUZNDM53"
 :company/jurisdiction "US-CT"
 :company/website "https://www.interactivebrokers.com"
 :company/ticker "IBKR (Nasdaq)"
 :company/inquiry-form-url "https://www.interactivebrokers.com/en/support/fund-my-account.php"}
