{:company/legal-name "Interactive Brokers Group, Inc."
 :company/lei "5493004DT6DCDUZNDM53"
 :company/jurisdiction "US-CT"
 :company/website "https://www.interactivebrokers.com"
 :company/ticker "IBKR (Nasdaq)"}
